/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        font-family: 'Mulish', sans-serif;
        max-width: 400px;
    }
    *{
        margin:2px;
    }
    /* desktop nav start */
    .nav-section{
        display: none;
    }
    /* desktop nav end */

/* nav only for mobile */
    .mobile-nav-section{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.mobile-nav-container{
    display: flex;
    align-items: center;
    width: 50%;
}

.mobile-nav-container img{
    width: 48px;
    padding-left: 10px;
}

.nav-container p{
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.GO{
    color: #131318;
    margin-left: 20px;
    font-weight: 800;
} 
.travel{
    color: #FF5400;
    margin: 2px;
    font-weight: 800;
} 

.mobile-menu-container{
    width: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 140px;
}
/* nav only for mobile*/

    .hero-section{
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .hero-section-text{
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
        width: 400px;
        height: auto;
    }
    .hero-explore{
        font-size: 22px;
        padding: 32px 66px 0px 100px;

    }
    .hero-text{
        font-size: 14px;
        line-height: 21px;
        padding-top: 5px;
        padding-bottom: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .selection-input{
        width: 400px;
        margin: 0px 0px;
    }
    .form input{
        width: 360px;
        text-align: left;
        margin-bottom: 20px;
    }
    .form select{
        width: 360px;
        text-align: left;
        margin-bottom: 20px;
    }
    .find-now-btn{
        width: 360px;
        height: 52px;
    }
    .popular-tours{
        max-width: 400px;
        height: auto;
        margin-top: 0px;
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
    }
    .tours-text{
        height: auto;
        display: block;
        padding-bottom: 10px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .tours-text h2{
        font-size: 20px;
    }
    .f-text{
        padding: 10px 0px;
    }
    .read-more-btn{
        width: 174px;
        height: 52px;
    }
    .read-more-btn:hover{
        background-color: #3e8e41;
        color: #FFF;
    }  
    
    .tours-img img{
        width: 370px;

        height: auto;
    }
    .destination{
        width: 335px;
        height: auto;
        margin: 0 auto;
        margin-top: 10px;
    }
    .destination .h2{
        font-size: 20px;
        margin-top: 10px;
    }
    .destination p{
        font-size: 14px;
        padding: 24px 25px;
    }

    .destination-img{
        width: 370px;
        max-width: 370px;
        margin-bottom: 20px;
    }
    
    .img-1 img{
        width: 370px;
        height: auto;
        margin-bottom: 10px;
    }
    .img-2 img{
        width: 370px;
        height: auto;
    }
    .img-3 img{
        width: 370px;
        height: auto;
    }
    .img-4 img{
        width: 370px;
        height: auto;
    }
    .img-5 img{
        width: 370px;
        height: auto;
    }
    .img-6 img{
        width: 370px;
        height: auto;
    }
    .img-7 img{
        width: 370px;
        height: auto;
    }
    .img-row1{
        flex-direction: column;
     }
    .img-row2{
        flex-direction: column;
        width: 300px;
    }
    .img-row3{
        flex-direction: column;
        width: 300px;
    }
    .Maldives-text{
        display: none;
    }
    .indonesia-text{
        display: none;
    }
    .srilanka-text{
        display: none;
    }
    .north-us-text{
        display: none;
    }
    .kashmir-text{
        display: none;
    }
    .bangla-text{
        display: none;
    }
    .bandarban-text{
        display: none;
    }
    
    .choose-us{
        max-width: 400px;
        margin: 0 auto;
        margin-top: 0px;
    }
    .choose-us .h2{
        font-size: 20px;
    }
    .choose-us p{
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding: 24px 25px;
    }
    .chose-us-box{
        width: 400px;
        margin: 0 auto;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }
    .handpicked-hotels{
        width: 370px;
        height: 284px;
        align-items:center;
    }
    .handpicked-hotels p{
        width: 330px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        padding-right: 40px;
    }
    .world-class-service{
        width: 370px;
        height: 284px;
        align-items:center;
    }

    .world-class-service p{
        width: 330px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        padding-right: 40px;
    }
    .best-price{
        width: 370px;
        height: 284px;
        align-items:center;
    }

    .best-price p{
        width: 330px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        padding-right: 40px;
    }

    .simple-perfect-place{
        width: 400px;
        height: 500px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 10px;
        flex-direction: column;
    }
    .perfect-place-text{
        height: 600px;
        display: block;
        width: auto;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .perfect-place-text h2{
        width: 248px;
        font-size: 20px;
        line-height: 30px;
    }
    
    .perfect-place-video{
        display: none;
    }
    .newsletter{
        width: 335px;
        height: auto;
        flex-direction: column;
    }
    .newsletter-box{
        width: 335px;
        height: 353px;
        padding: 40px 30px;
        flex-direction: column;
       }
       .newsletter-form #input1{
        width: 330px;
        height: 52px;
    }
    .newsletter-form #input2{
        width: 330px;
        height: 52px;
     }
    .subscribe-btn{
        width: 330px;
        height: 52px;
    }
    .newsletter-img img{
        width: 380px;
        height: 300px;
    }
    .footer-container{
        width: auto;
        height: auto;
        margin-top: 20px;
    }
    /* .footer-nav-container{
        flex-direction: column;
    } */
    .footer-text {
    flex-direction: column;
    padding: 16px 16px;
    font-size: 14px;
    }
    .social-icon{
    width: auto;
    }
    .copy-right{
        flex-direction: column;
        padding-bottom: 50px;
    }
  }


